.day-plan {
    background: linear-gradient(90deg, rgb(63, 81, 181), rgb(103, 58, 183));
}

.day-plan__content {
    padding: 27px 21px 20px;

    text-align: center;
    text-transform: uppercase;

    color: #eee;
    background: rgba(0, 0, 0, .1);
}

.day-plan__left {
    font-size: 2.5em;

    margin-top: 12px;

    color: #ffeb3b;
}
