.card {
    width: 100%;
}

.card__container {
    background: #fff;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14), 0 11px 15px -7px rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .2);
}

.card__content {
    padding: 21px;
}

.card_sep {
    margin: 21px -21px 21px;

    border-top: 1px solid rgba(0, 0, 0, .1);
}

.card__text {
    font-size: 1.15em;

    margin-bottom: 21px;
}

.card__meaning {
    margin-bottom: 21px;
}

.card__meaning,
.card__section {
    font-size: .95em;

    color: rgba(0, 0, 0, .6);
}

.card__section + .card__section {
    margin-top: 21px;
}

.card__subsection + .card__subsection {
    margin-top: 12px;
}

.card__subsection .card__meaning {
    font-weight: bold;

    margin-bottom: 9px;

    color: black;
}

.card__row {
    overflow: hidden;

    width: 100%;
    margin: 0;

    text-overflow: ellipsis;
}

.card__row + .card__row {
    margin-top: 9px;
}

.card__img {
    max-width: 100%;
}

.card__url,
.card__url:visited {
    font-size: .9em;

    word-break: break-all;

    color: #388e3c;
}

/*
 CAMBRIDGE
*/

.card__cambridge .card__img {
    margin-top: 12px;
}

.card__cambridge .card__sense + .card__sense {
    margin-top: 12px;
}

.card__cambridge .card__subsection + .card__subsection {
    margin-top: 24px;
}

.card__cambridge .card__sense-title {
    text-transform: uppercase;
}

.card__cambridge .card__def {
    margin-top: 12px;
}

.card__cambridge .card__url + .card__subsection {
    margin-top: 12px;
}

.card__cambridge .card__subsection .card__subtitle {
    margin-bottom: 10px;

    color: #9c27b0;
}

.card__cambridge .card__subsection .card__meaning {
    margin-left: 12px;
}

.card__cambridge .card__subsection .card__row {
    margin-top: 6px;
    margin-left: 12px;
    font-size: .95em;
    color: rgba(0, 0, 0, .7);
}
