.card {
    position: relative;
    z-index: 5;

    width: 100%;

    user-select: text !important;
}

.card_prev {
    z-index: 2;
}

.card__container {
    background: #fff;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14), 0 11px 15px -7px rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .2);
}

.card__content {
    padding: 21px;
}

.card__controls {
    margin-top: 16px;

    text-align: right;
}

.card__sep {
    margin: 21px -21px 21px;

    border-top: 1px solid rgba(0, 0, 0, .1);
}

.card__text {
    font-size: 1.35em;
    font-weight: 300;

    margin-bottom: 12px;
}

.card__meaning {
    font-size: .95em;
    font-weight: bold;

    margin-bottom: 9px;

    color: black;
}

.card__section {
    font-size: .95em;

    color: rgba(0, 0, 0, .6);
}

.card__section + .card__section,
.card__subsection + .card__subsection,
.card__def + .card__def {
    margin-top: 21px;
}

.card__subsection .card__subsection + .card__subsection {
    margin-top: 18px;
}

.card__subsection .card__subtitle {
    margin: 21px 0 9px;

    text-transform: uppercase;

    color: #9c27b0;
}

.card__url + .card__subsection {
    margin-top: 12px;
}

.card__subsection .card__row {
    font-size: .95em;

    margin-top: 6px;

    color: rgba(0, 0, 0, .7);
}

.card__row-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.card__row + .card__row {
    margin-top: 9px;
}

.card__img {
    max-width: 100%;
}

.card__url,
.card__url:visited {
    font-size: .9em;

    word-break: break-all;

    color: #388e3c;
}
