.stack {
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;

    text-align: left;
}

.stack__controls {
    margin-top: 16px;

    text-align: right;
}

@media screen and (max-width: 360px) {
    .stack {
        padding: 16px;
    }
}
